// --- $VARS --- //
$font-stack: Helvetica Neue, Arial sans-serif;
$primary-color: #333;
$secondary-color: #666;

$icon-delay: 0;

/* every animation speed is multiplied by this number, use 1 in production */
$anim-multiplier: 2;

// KEYFRAMES

@keyframes zoomin {
  0%    { transform: scale(.1, .1); }
  70%   { transform: scale(1.5, 1.5); }
  100%  { transform: scale(1, 1); }
}

@keyframes fadein {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes slideup {
  0%    { opacity: 0; transform: translateY(1.5em); }
  80%   { transform: translateY(-.4em); }
  100%  { opacity: 1; transform: translateY(0); }
}

@keyframes slideright {
  0%    { opacity: 0; transform: translateX(-2em); }
  100%  { opacity: 1; transform: translateX(0); }
}

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition-delay($delay) {
  animation-delay: $delay;
}

// MAIN CSS
html, body { margin: 0; }

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: $primary-color;
}

#home {
  @include center;
  width: 75%;

  .name {
    animation: fadein #{.3 * $anim-multiplier}s ease-out 0 1 normal forwards;
    opacity: 0;
    text-align: center;
    color: $primary-color;
    margin: 0;
    padding-bottom: 5px;
    font-size: 32px;
  }

  .title {
    opacity: 0;
    animation: fadein #{.1 * $anim-multiplier}s ease-in .8s 1 normal forwards;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $secondary-color;
  }

  .name, .title {
    cursor: default;
  }

  .outlinks {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 15px 0 0 0;

    li {
      margin: 0 10px;
      padding: 0;
      display: inline-block;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) a {
          animation-delay: #{$icon-delay + $i * 100}ms;
        }
      }

      a {
        animation: zoomin #{.1 * $anim-multiplier}s ease-out 0 1 normal forwards;
        transform: scale(0, 0);
        font-size: 20px;
        color: $primary-color;
        float: left;

        &:hover {
          
        }

        &.twitter-icon {
          display: block;
          background: url('../images/twitter-icon.png');
          line-height: 24px;
          font-size: 12px;
          width: 24px;
          height: 20px;
        }
      }
    }
  }

  .cols {
    padding-top: 40px;
    animation: fadein #{.3 * $anim-multiplier}s ease-in 0 1 normal forwards;

    .col {
      &.projects, &.posts {
        h2 {
          cursor: default;
          color: $primary-color;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0 5px 0;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0 0 4px;
            text-align: center;
            padding-bottom: 1px;
            a {
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;

              &:hover {
                text-decoration: underline;
              }              
            }
          }
        }
      }
    }
  }

  .octicon::before {
    width: 22px;
  }
}