// --- $VARS --- //
$font-stack: Helvetica Neue, Arial sans-serif;
$primary-color: #333;
$secondary-color: #666;
$menu-border-color: #ddd;

$menu-width: 80;

$sub-menu-width: 200;
$sub-menu-padding: 10;

$icon-delay: 2000;

/* every animation speed is multiplied by this number, use 1 in production */
$anim-multiplier: 1;

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition-delay($delay) {
  animation-delay: $delay;
}

// MAIN CSS
html, body { margin: 0; }

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: $primary-color;
}

#home {
  @include center;
  max-width: 600px;
  transition: all .5s ease-out;  

  .name {
    text-align: center;
    color: $primary-color;
    margin: 0;
    padding-bottom: 5px;
    font-size: 32px;
  }

  .position {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $secondary-color;
  }

  .name, .position {
    cursor: default;
  }

  .outlinks {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 15px 0 0 0;

    li {
      margin: 0 10px;
      padding: 0;
      display: inline-block;

      a {
        display: block;
        height: 22px;
        font-size: 18px;
        color: $primary-color;

        &:hover {
          
        }

        &.twitter-icon {
          background: url('../images/twitter-icon.png');
          line-height: 24px;
          font-size: 12px;
          width: 24px;
          height: 20px;
        }
      }
    }
  }

  .cols {
    padding-top: 40px;
    .col {
      &.projects, &.posts {
        h2 {
          cursor: default;
          color: $primary-color;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0 5px 0;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0 0 5px;
            text-align: center;
            a {
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;

              &:hover {
                text-decoration: underline;
              }              
            }
          }
        }
      }
    }
  }
}