// --- $VARS --- //
$font-stack: Helvetica Neue, Arial, sans-serif;
$primary-color: #333;
$secondary-color: #666;

$purple: #6349b6;

$primary-article-color: #333;
$secondary-article-color: #444;
$third-article-color: #666;

$icon-delay: 0;

/* every animation speed is multiplied by this number, use 1 in production */
$anim-multiplier: 2;

// KEYFRAMES

@keyframes zoomin {
  0%    { transform: scale(.1, .1); }
  70%   { transform: scale(1.5, 1.5); }
  100%  { transform: scale(1, 1); }
}

@keyframes fadein {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes slideup {
  0%    { opacity: 0; transform: translateY(1.5em); }
  80%   { transform: translateY(-.4em); }
  100%  { opacity: 1; transform: translateY(0); }
}

@keyframes slideright {
  0%    { opacity: 0; transform: translateX(-2em); }
  100%  { opacity: 1; transform: translateX(0); }
}

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition-delay($delay) {
  animation-delay: $delay;
}

// RETINA MEDIA QUERIES
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  body #home #outlinks li a.twitter-icon {
    background-image: url('../images/twitter-icon-2x.png')!important;
    background-size: 24px 20px;
    background-repeat: no-repeat;
  }
}

// MAIN CSS
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: $primary-color;
}

#home {
  @include center;
  width: 75%;
  padding-top: .5px;

  .name {
    animation: fadein #{.3 * $anim-multiplier}s ease-out 0 1 normal forwards;
    opacity: 0;
    text-align: center;
    color: $primary-color;
    margin: 0;
    padding-bottom: 5px;
    font-size: 32px;
  }

  #title {
    opacity: 0;
    animation: fadein #{.1 * $anim-multiplier}s ease-in .75s 1 normal forwards;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $secondary-color;
    transition: all .2s ease-out;

    &.activated {
      animation-delay: 0;
    }

    &.hidden {
      animation: none;
      opacity: 0;
      transform: translateY(-17px);
    }
  }

  .name, #title {
    cursor: default;
  }

  #phone-number, #email-address {
    opacity: 0;
    height: 0;
    text-align: center;
    font-size: 14px;
    color: $secondary-color;
    font-weight: 600;
    pointer-events: none;
    transition: all .2s ease-out;

    &.visible {
      transform: translateY(-17px);
      opacity: 1;
    }
  }

  #outlinks {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 15px 0 0 0;

    &.waiting {
      opacity: 0;
      li a {
        animation: none;
      }
    }

    li {
      margin: 0 10px;
      padding: 0;
      display: inline-block;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) a {
          animation-delay: #{$icon-delay + $i * 100}ms;
        }
      }

      a {
        display: block;
        animation: zoomin #{.1 * $anim-multiplier}s ease-out 0 1 normal forwards;
        transform: scale(0, 0);
        font-size: 20px;
        color: $primary-color;

        &:hover {
        }

        &.twitter-icon {
          display: block;
          background: url('../images/twitter-icon.png');
          line-height: 24px;
          font-size: 12px;
          width: 24px;
          height: 20px;
          text-decoration: none;
        }

        &#phone-icon:active, &#email-icon {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }

  .cols {
    padding-top: 40px;
    animation: fadein #{.3 * $anim-multiplier}s ease-in 0 1 normal forwards;

    .col {
      &.projects, &.posts {
        h2 {
          cursor: default;
          color: $primary-color;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0 5px 0;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: 0 0 4px;
            text-align: center;
            padding-bottom: 1px;
            a {
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;

              &:hover {
                text-decoration: underline;
              }              
            }
          }
        }
      }
    }
  }

  .octicon::before {
    width: 22px;
  }
}

article {
  max-width: 600px;
  margin: 0 auto;

  a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: solid 1px #ddd;
    transition: border .1s ease;

    &:hover {
      border-color: $purple;
    }
  }

  h1, h2 {
    color: $primary-article-color;
    padding: 0;
    margin-bottom: 0;
  }

  .subline {
    color: $third-article-color;
    margin-top: 3px;
  }

  .date {
    font-size: 16px;
  }

  p {
    line-height: 1.8em;
    color: $secondary-article-color;

    &.initial {
      margin-top: 16px;
    }
  }

  img {
    pointer-events: none;
    highlight: none;
  }

  img::-moz-selection {
      background-color: transparent;
      color: #000;
  }

  img::selection {
      background-color: transparent;
      color: #000;
  }

  hr {
    width: 66%;
    margin: 50px auto;
    height: 5px;
    background: #ddd;
    border: none;
  }
}

article, footer {
  .twitter {
    display: inline-block;
    color: $purple;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: solid 1px transparent;

    &:hover {
      text-decoration: none;
      border-bottom: solid 1px $purple;
    }
  }

  @media (max-width: 600px) {
    margin: 0 10px;

    img {
      width: 100%;
    }
  }
}

footer {
  border-top: solid 1px #ddd;
  text-align: center;
  margin-top: 50px;
  padding: 13px 0 15px;
}