// --- $VARS --- //
$font-stack: Helvetica Neue, sans-serif;
$primary-color: #444;
$secondary-color: #555;
$menu-border-color: #ddd;

$menu-width: 80;

$sub-menu-width: 200;
$sub-menu-padding: 10;

$icon-delay: 2000;

/* every animation speed is multiplied by this number, use 1 in production */
$anim-multiplier: 1;

// MIXINS
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.1%, -50.1%);
}

@mixin transition-delay($delay) {
  animation-delay: $delay;
}

// MAIN CSS
html, body { margin: 0; }

body {
  font-family: Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: $primary-color;
}

.hidden { pointer-events: none; opacity: 0; }

#home {
  @include center;
  max-width: 400px;
  transition: all .5s ease-out;  

  .name {
    text-align: center;
    color: $primary-color;
    margin: 0;
    padding-bottom: 5px;
  }

  .position {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $secondary-color;
  }

  .name, .position {
    cursor: default;
  }

  .outlinks {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      margin: 0 5px;
      padding: 0;
      display: inline-block;

      a {
        display: block;
        background: #888;
        width: 20px;
        height: 20px;

        &:hover {
          
        }
      }
    }
  }
}

// KEYFRAMES