<div>
    <h2><%= user.name %></h2>
    <input type="range" name="angle" class="angle" min="-1" max="2" step="0.01" value="<%= user.angle %>">
    <input type="text" name="x" class="x" value="<%= user.x %>">
    <input type="text" name="y" class="y" value="<%= user.y %>">
    <input type="range" min="1" max="20" name="amplitude" class="amplitude" value="<%= user.amplitude %>">
    <input type="range" min="1" max="20" name="velocity" class="velocity" value="<%= user.velocity %>">
    <br>
    <button class="save">Save</button>
</div>