/* every animation speed is multiplied by this number, use 1 in production */
html, body {
  margin: 0; }

body {
  font-family: Helvetica Neue, Arial sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  color: #333; }

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 600px;
  -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
          transition: all .5s ease-out; }
  #home .name {
    text-align: center;
    color: #333;
    margin: 0;
    padding-bottom: 5px;
    font-size: 32px; }
  #home .position {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #666; }
  #home .name, #home .position {
    cursor: default; }
  #home .outlinks {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 15px 0 0 0; }
    #home .outlinks li {
      margin: 0 10px;
      padding: 0;
      display: inline-block; }
      #home .outlinks li a {
        display: block;
        height: 22px;
        font-size: 18px;
        color: #333; }
        #home .outlinks li a.twitter-icon {
          background: url("../images/twitter-icon.png");
          line-height: 24px;
          font-size: 12px;
          width: 24px;
          height: 20px; }
  #home .cols {
    padding-top: 40px; }
    #home .cols .col.projects h2, #home .cols .col.posts h2 {
      cursor: default;
      color: #333;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      margin: 20px 0 5px 0; }
    #home .cols .col.projects ul, #home .cols .col.posts ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #home .cols .col.projects ul li, #home .cols .col.posts ul li {
        margin: 0 0 5px;
        text-align: center; }
        #home .cols .col.projects ul li a, #home .cols .col.posts ul li a {
          text-decoration: none;
          font-size: 14px;
          font-weight: 400; }
          #home .cols .col.projects ul li a:hover, #home .cols .col.posts ul li a:hover {
            text-decoration: underline; }
