/* every animation speed is multiplied by this number, use 1 in production */
html, body {
  margin: 0; }

body {
  font-family: Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  color: #444; }

.hidden {
  pointer-events: none;
  opacity: 0; }

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50.1%, -50.1%);
     -moz-transform: translate(-50.1%, -50.1%);
      -ms-transform: translate(-50.1%, -50.1%);
          transform: translate(-50.1%, -50.1%);
  max-width: 400px;
  -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
          transition: all .5s ease-out; }
  #home .name {
    text-align: center;
    color: #444;
    margin: 0;
    padding-bottom: 5px; }
  #home .position {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #555; }
  #home .name, #home .position {
    cursor: default; }
  #home .outlinks {
    list-style: none;
    text-align: center;
    padding: 0; }
    #home .outlinks li {
      margin: 0 5px;
      padding: 0;
      display: inline-block; }
      #home .outlinks li a {
        display: block;
        background: #888;
        width: 20px;
        height: 20px; }
